In [1]:
import sqlalchemy
import pandas as pd
import numpy as np

In [2]:
eng = sqlalchemy.create_engine("sqlite:///data/spot_price.db")

In [3]:
spot = pd.DataFrame(
    {
        'dt':pd.date_range(
            start=pd.Timestamp.today().date(),
            periods = 365,
            freq = 'D'
        ),
        'spot':np.random.normal(100, 5, 365)
    }
)

In [4]:
spot.to_sql('spotprice', con=eng, index=False, if_exists='replace')

In [5]:
pd.read_sql_table('spotprice', con=eng)

            dt        spot
0   2022-10-13  101.630718
1   2022-10-14  105.743021
2   2022-10-15   97.945472
3   2022-10-16  100.560142
4   2022-10-17   98.558020
..         ...         ...
360 2023-10-08   97.608687
361 2023-10-09   93.696343
362 2023-10-10   99.557379
363 2023-10-11  103.429875
364 2023-10-12  105.174305

[365 rows x 2 columns]